.App{
    position:relative;
    overflow-x: clip;
}
.App>:nth-child(1){
    background: var(--black);
    position: relative;
}
.white-gradient{
    position:absolute;
    width: 15rem;
    height: 15rem;
    background: rgba(177, 170, 170, 0.877);
    filter: blur(100px);
    border-radius: 100px;
}