.hero-wrapper{
    color: white;
    position: relative;
    padding-bottom: 2rem;
}
.hero-container{
    justify-content: space-between;
    align-items: flex-end;
}

.hero-left{
    gap:4rem;
}
.hero-title{
    position: relative;
    z-index: 1;
}
.hero-title>h1{
    font-weight: 600;
    font-size: 3.8rem;
    line-height: 4rem;
}
.orange-circle{
    height: 2.5rem;
    width: 2.5rem;
    background: var(--orange-gradient);
    border-radius: 999px;
    position: absolute;
    right: 0.1%;
    top: -3.5%;
    z-index: -1;
}
.stats{
    width: 100%;
    justify-content: space-between;
}
.stat>:nth-child(1){
    font-size: 3rem;
    color: rgb(255, 136, 0);
}

.image-container{
    width: 22rem;
    height: 27rem;
    overflow: hidden;
    border-radius: 15rem 15rem 0 0 ;
    border:8px solid rgba(255,255,255,0.12)
}
.image-container>img{
    width: 100%;
    height: 100%;
}